<section class="s1">
    <div class="profile-about">
        <img src="assets/images/ferhat-osanoglu.jpg" alt="Ferhat Osanoğlu" class="profile-photo">
    </div>
    <div class="main-container">
        <div class="hero-text-wrapper">
            <h5> Hakkımda </h5>

            <p>
                Manisa Celal Bayar Üniversitesi'nden 2023 yılında yazılım mühendisliği bölümünden mezun oldum. İlk iş
                deneyimini <a href="https://alkera.com.tr" target="_blank" title="2021-2022">Alkera</a> adlı
                şirkette
                frontend developer
                olarak kazandım burada kurum içi eğtim ve etkinlik platformları geliştirdik. Daha sonra 7 ay sürecek
                olan <a href="https://letwom.com" target="_blank">LetWOM</a> adında abonelikli e-ticaret platformu
                olmaya çalışan bir girişimde yer aldım.Daha sonrasında <a>Smesh</a> adlı bir girişimde çalışmaya devam
                ettim. Sonrasında smesh isim değişikliği ile WNetwork oldu ve girişim

                <a href="https://www.wcanx.co" target="_blank">WCanx</a> adlı şirketin alt ürünü olarak piysaya çıktı.
                Ve bende şuan <a href="">WCanX</a>'de yazılım mühendisi olarak çalışmaktayım.
            </p>




            <p>
                Daha detaylı bilgi için, <a href="/assets/ferhatosanoglu-cv.pdf" target="_blank"> CV↗︎ </a>
            </p>
        </div>

    </div>
</section>