<section class="s1">
  <div class="contact">
    <div class="contact-wrapper">
      <h6>Contact</h6>
      <div class="contact-link-wrapper">
        <a href="mailto:ferhatosanogluo@gmail.com">Email ↗︎</a>
        <a href="https://twitter.com/OsanogluFerhat" target="_blank" rel="noreferrer noopener">Twitter ↗︎
        </a>
        <a href="https://www.linkedin.com/in/ferhatosanoglu/" target="_blank" rel="noreferrer noopener">Linkedin ↗︎
        </a>
        <a href="https://github.com/ferhatosanoglu" target="_blank" rel="noreferrer noopener">Github ↗︎
        </a>
        <a href="https://www.hackerrank.com/ferhatosanoglu" target="_blank" rel="noreferrer noopener">HackerRank
          ↗︎
        </a>
      </div>
    </div>
    <div class="contact-wrapper">



    </div>
  </div>
</section>