<section class="main">
  <div class="profile-photo-wrapper">
    <div class="profile-photo">
      <img src="assets/images/ferhat-osanoglu-avatar.png" alt="Ferhat Osanoglu avatar" class="profile-photo" />
    </div>
    <div class="status">
      <div class="emoji-wrapper">
        <span class="emoji"> 🎉 </span>
      </div>
    </div>
  </div>
  <div class="hero-text-wrapper">
    <h2>Yazılım Geliştirici</h2>
    <p>
      Merhaba, ben Ferhat.<a href="https://www.wcanx.co" target="_blank">WCanx</a>'de yazılım geliştiricisiyim. Aynı
      zamanda Manisa Celal Bayar
      Üniversitesinde yazılım mühendisliği son sınıf öğrencisiyim. 2 yıldır
      aktif olarak sektörde çalışmaktayım. Ağırlıklı olarak Web ve Mobil
      teknolojiler üzerine çalışmalar yapıyorum.
    </p>

    <div>
      <a href="/about/">Daha Fazla → </a>
    </div>
  </div>
  <!-- <h3>Projeler</h3>
  <app-project-card></app-project-card>-->
</section>