<nav class="navbar navbar-light header">
    <div class="container">
        <a class="navbar-brand text-white">
            <span class="fs-1">Ferhat Osanoglu</span>
            <span class="text-danger fs-1"> / </span>
            <span class=" fs-2 text-secondary">{{'Software Engineer'}}</span>
        </a>
        <div class="d-flex w-auto">
            <!-- <span class="fs-3 mr-5"><a class="text-white mr-5" href="">{{'Writing'}} </a> </span>&nbsp; &nbsp;
            <span class="fs-3 ml-5"> <a class="text-white" href=""> {{'About'}} </a> </span> -->
        </div>
    </div>
</nav>