<div class="main-container">
  <span> 2020 </span>
  <div class="primary-list-container">
    <div class="list-left-wrapper">
      <a href="/project/2020-edr-wallet/">
        <h6>Everyday Rewards Wallet</h6>
      </a>
      <p>Pay grocery shoppings and earn rewards points in one go</p>
      <a href="" target="_blank" rel="noreferrer noopener">Try it ↗︎ </a>
    </div>
    <div class="page-thumbnail">
      <a href="/project/2020-edr-wallet/"><img src="{{project.img}}" alt="Everyday Rewards Wallet"></a>
    </div>
  </div>
</div>